.btnContainer {
  height: 70px;
  font-size: 30px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #271b1e;
  background-color: white;
  border-radius: 25px;
  border: 2px solid black;
  margin: 4px;
  cursor: pointer;
  user-select: none;
  flex: 1 1;
  margin-top: 20px;
}

.operator {
  background-color: #1a7284;
  border: 2px solid black;
  color: white;
}
