.accountParent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.slideAccount {
  grid-area: 1 / 1 / 6 / 2;

  box-shadow: 3px 3px 3px 3px rgb(193, 188, 188);
}
.headerAccount {
  grid-area: 1 / 2 / 2 / 6;
}
.leftSideAccount {
  grid-area: 2 / 2 / 6 / 3;
}
.contentAccount {
  grid-area: 2 / 3 / 6 / 6;
  box-shadow: 3px 3px 3px rgb(193, 188, 188);
}

.accountLogo {
  width: 300px;
  height: 100px;
  margin-bottom: 40px;
}

.userProfileSection {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #e8e4ed;
  border-radius: 25px;
  padding: 4px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 3px 3px 3px rgb(193, 188, 188);
}

.userData {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
}

.userDataNombre {
  margin: 0;
  font-weight: 600;
}

.userDataRole {
  margin: 0;
}

.userProfileIcon {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.leftAccountTitle {
  font-size: 22px;
  margin-bottom: 20px;
  color: #454445;
}

.leftAccountContainerList {
  margin-top: 40px;
}

.leftAccountOptions {
  color: #857e85;
  list-style: none;
  text-decoration: none;
  margin-bottom: 40px;
}

.leftAccountListOptions {
  margin-bottom: 20px;
  font-size: 20px;
  margin-bottom: 30px;
  text-decoration: none;
  list-style: none;
}

.leftsideOptions {
  color: #857e85;
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  list-style: none;

  width: 300px;
}

.leftSideSection {
  margin: 0 auto;
  display: grid;
  justify-content: center;
  border-radius: 40px;
}

.lefSideListContainer {
  box-shadow: 3px 3px 3px 3px rgb(193, 188, 188);
  border-radius: 4px;
}

.leftsideOptions {
  margin-bottom: 28px;
}

.leftsideOptionsA {
  color: #857e85;
  text-decoration: none;
}

.leftsideOptionsA:hover {
  color: #9f4b4a;
}

.firstPartAccountContent {
  display: grid;
  justify-content: center;
}

.firstPartAccountContentInfo {
  width: 1100px;
  display: grid;
  justify-content: center;
}

.firstPartAccountContent {
  box-shadow: 3px 2px 2px 2px rgb(193, 188, 188);
  width: 1100px;
  margin-left: 34px;
}

.backgroundAccountContent {
  width: 1100px;
  height: 200px;
  border-radius: 1px;
  background-color: black;
  margin-left: -1px;
}

.accountContentLogo {
  margin-top: -100px;
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.accountTitle {
  margin-top: 2px;
}

.accountSkills {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: -60px;
  margin-top: -20px;
}

.secondPartAccountContent {
  display: grid;
}

.accountEditInformation {
  margin-left: 35px;
  box-shadow: 3px 2px 2px 2px rgb(193, 188, 188);
  width: 1100px;
}

.accountEditInformationTitle {
  margin-left: 34px;
  font-size: 20px;
  margin-bottom: 40px;
}

form {
  display: flex;
  flex-direction: column;
}

.name-container {
  display: flex;
  margin-bottom: 20px;
  height: 40px;
  padding: 2px 4px;
  border-radius: 100%;
}

.job-location-container {
  display: flex;
  height: 40px;
  padding: 2px 4px;
}

.editFormInput {
  margin-right: 40px;
  border-radius: 10px;
  width: 450px;
  height: 40px;
}

.editFormInput::placeholder {
  font-size: 18px;
  align-items: center;
  font-weight: 500;
  color: #857e85;
  padding: 8px;
}

.editFormInput:last-child {
  margin-right: 0;
}

.editAccountForm {
  margin-left: 48px;
}

.editFormAbout {
}

.editFormAboutYou {
  margin-top: 50px;
  min-width: 950px;
  min-height: 150px;
  margin-bottom: 40px;
}

.editFormAboutYou::placeholder {
  font-size: 20px;
  padding: 8px;
}
